header{
    min-height: 100vh;
    max-width: 100vw;
    border:1px solid black;
    position: relative;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)) , url('../images/home.jpg');
      background-repeat: no-repeat;
      background-size: cover;
}
.mobile-responsive{
    display: none;
    min-height: 10vh;
    max-width: 100vw;
    background:whitesmoke;
    border:1px solid black;
z-index: 10000;
    transition:.8s all;
}
.menu-symble{
    float:right;
    font-size: xx-large;
}
.whole-menu{
    position:sticky;
    top:0;
    z-index: 10000;
    display: block;
}
.menu-header{
    position: absolute;
    top:20px;
    right:15vw;
    /* left:10px; */
    min-height: 10vh;
    width: 70%;
    border:1px solid white;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-color:whitesmoke;
    box-shadow: 4px 4px 20px 0 rgba(255,255,255,0.5),
    -4px -4px 20px 0 rgba(255,255,255,0.5);
    z-index: 100;
transition:.8s all;
}
.dropdown{
    display:none;
    transition:.8s all;
    min-height: 50vh;
    max-width:50vw;
    border:1px solid black;
    z-index: 1000000;
    background:red;
}
.left-menu ul #drop:hover .dropdown{
display: block;
z-index: 10000;
cursor: pointer;
}
.logo{
    position: absolute;
    top:10px;
    right:42vw;
    min-height: 10vh;
    max-width:15vw;
    z-index: 1000;
    /* border-top:none; */
    border:7px solid whitesmoke;
    border-radius: 50%;
    background-color: whitesmoke;
    box-shadow: 4px 4px 20px 0 rgba(255,255,255,0.5),
    -4px -4px 20px 0 rgba(255,255,255,0.5);
    /* border:none */
}
/* .logo .logo-img{
    min-height: 15vh;
    width:15%;
} */
.logo img{
    height: 100%;
    width:100%;
    border-radius: 50%;
}

.menu-header .left-menu{
    width:50%;
    /* border:1px solid black; */
}
.left-menu ul{
    margin:0 80px;
}
.right-menu ul{
    margin:0 80px;
}
.left-menu ul li{
    display:inline-block;
    margin:20px 10px;
}
.right-menu ul li{
    display:inline-block;
    margin:20px 10px;
}
.menu-header .right-menu{
    width:50%;
    /* border:1px solid black; */
}
.left-menu ul li a,.right-menu ul li a{
    color:brown;
}
.right-menu ul li #cnl{
    padding:10px 20px;
    border:1px solid brown;
    border-radius: 20px;
    transition:.8s all;
}
.right-menu ul li #cnl:hover{
    background-color: brown;
    border:1px solid brown;
    color:white;
}

.home{
    min-height: 100vh;
    max-width: 80vw;
    margin:0 auto;
    /* border:1px solid black; */
}

@media only screen and (max-width:1200px) {
    .menu-header{
        width:95%;
        right:2vw;
    }
}
@media only screen and (max-width:920px) {
    .menu-header{
        width:95%;
        right:2vw;
    }
    .left-menu ul li{
        font-size: 10px;
    }
    .right-menu ul li{
        font-size: 10px;
    }
}

@media only screen and (max-width:768px){
    .whole-menu{
        display: none;
    }
    .mobile-responsive{
        display: block;
        cursor: pointer;
    }
}

/* rent property */

.rent-listning{
    min-height:90vh;
    max-width:78vw;
    /* border:1px solid black; */
    margin:10px auto;
}
.rent-property{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 10px 10px;
}
.rent-items{
height:350px;
border-radius: 5px;
border:1px solid black;   
transition: 0.8s all;
}
.rent-items:hover{
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.3),
    -2px -2px 5px 0 rgba(0,0,0,0.3);
}
.rent-items .img{
    height:60%;
    width:100%;
}
.rent-items .img img{
    width:100%;
    height:100%;
}
.rent-items .des{
    height:40%;
}
.des .info{
    height:70%;
    /* border: 1px solid black; */
}
.des .footer-info{
    height:30%;
    border-top: 2px dotted brown;
}
.footer-info span{
    margin:0 10px;
}
.footer-info button{
    margin:0 10px;
    padding:10px 30px;
    border:1px solid black;
    border-radius: 5px;
    text-transform: capitalize;
    background:transparent;
    transition: .8s all;
    cursor: pointer;
}
.footer-info button:hover{
    color:white;
    background:brown;
}
.des .info .info-prop{
    width:50%;
    /* border:1px solid green; */
}
.info-prop span{
    color:brown;
    margin:10px 20px;
}
.info-prop h3{
    color:black;
    margin:10px 20px; 
}
.des .info .prop-price{
    width:50%;
    /* border:1px solid red; */
}
.prop-price span{
    padding:10px 20px;
    border:black;
    background:brown;
    color:white;
    border-radius: 5px;
}
/* rent property end */